<!-- <body class="page-body">
    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="img">
              <%#= image_tag 'byebug_logo.png'%>
            </div>
          </div>
          <div class="col-md-8" id='welcome'>
            <h1>Welcome to ByeBug</h1>
          </div>
          <ul>
            <li>We are a digital agency that focuses on creating impactful content and experiences.</li>
          </ul>
          <a href="mailto:info@byebugdev.com">Contact us!</a>
        </div>
      </div>
    </header>
  </div>
</body> -->


<body class="page-body">
  <header class="masthead">
    <div class="container">
      <!-- <img class="img-fluid" src="img/profile.png" alt=""> -->
      <%= image_tag 'byebug_logo.png', class: "img-fluid"%>
      <div class="intro-text">
        <span class="name">Welcome to ByeBug</span>
        <hr class="star-light">
        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
      </div>
    </div>
  </header>
</body>
