// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: black;
}
header.masthead img {
  display: block;
  margin: 0 auto 20px;
}

header.masthead .intro-text .name {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

.page-body {

background-color: black;
}

.back-blue {
  background-color: lightblue;
}

.header-text{
     text-transform: uppercase;
     font-weight: 200;
     color: #333;
     margin-bottom: 20px;
     font-size: 30px;
     position: relative;
     line-height: 24px;
}
.section-features{
        margin: 50px 0;
   }

.section-features .card{
    width: 100%;
    min-height: 390px;
    padding: 10px 30px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}
.section-features .card .icon i{
    font-size: 63px;
    color: #9a9a9a;
    width: 85px;
    height: 85px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.section-features .card.card-blue{
  border-color: #CCE7F5;
}
.section-features .card.card-blue .icon i{
  color:#00bbff;
}
.section-features .card.card-green{
  border-color: #BDF8C0;
}
.section-features .card.card-green .icon i{
  color:#3ABE41;
}
.section-features .card.card-orange{
  border-color: #FAD9CD;
}
.section-features .card.card-orange .icon i{
  color:#ff967f;
}
 .section-features .card.card-red{
  border-color: #FFBFC3;
}
.section-features .card.card-red .icon i{
  color:#E01724;
}
.section-features .card  h4{
    font-weight: 300;
    font-size: 18px;
    margin: 30px 0 -15px;
}

.section-features .card  p{
  font-size: 16px;
  line-height: 22px;
  color: #777;
  min-height: 350;
}

.header{
  min-height: 25vh;
  // background-color: lightblue;
}



// NUMBERS SECTION STYLING

.numbers-section-title {
    color:#129CF3;
    font-size: 48px;
    font-weight: 900;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.numbers-under-heading {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

#numbers{
  background-color: lightgrey;
}
.section-wrapper {
    margin-top: 60px;
    text-align: center;
}
.numbers-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-image: url(../images/crossword.png);
    background-attachment: fixed;


}
.numbers-section .num-data  i {
    color: #129CF3;
    padding-bottom: 20px;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
}
.numbers-section .num-data  i:hover {
    color: #333;
}
.numbers-section .num-data .counter {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 8px;
}
.numbers-section .num-data p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}



// AFTER NUMBERS PAGE BREAK STYLING

#after-numbers{
  background-color: lightblue;
  margin-top: 0;
}
.section-wrapper-break {
    text-align: center;
    paddin-top:2em;
    padding-bottom: 2em;
}

#after-numbers-2{
  background-color:lightgrey;
}


// last blue section
.last-section{
  padding: 40px 0;
  background: #fff;
}

.last-section-padded{
	padding: 140px 0 40px;
}

.blue-bg {
	background: #00a8ff;
}

.white {
	color: white;
}

.light {
	font-weight: 300;

}

header.masthead .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px; }
    header.masthead .intro-text .name {
      font-size: 4.75em; }
    header.masthead .intro-text .skills {
      font-size: 1.75em; }
  }
